name: sml / ci

on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - run: docker pull exercism/sml-test-runner
      - name: Run tests for all exercises
        run: sh ./bin/test
